.statistics{
  background-color: #27d09a;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.statList{
  display: flex;
  gap:40px;
}

.label{
  color: white;
}

.percentage{
  color: tomato;
}
